* {
    box-sizing: border-box;
}

.imgs-gallery, .meme-gallery {
    background-color: aquamarine;
}

.gallery-display {
    width: 95vw;
    
}

img.gallery-img, img.meme-gal-item {
    width: 200px;
    margin: 15px;
    border-radius: 20px;
}

img.gallery-img:hover, img.meme-gal-item:hover {
    border: 3px solid yellowgreen;
}

.meme-editor {
    display: none;
    background-color: aquamarine;
}

.meme-gallery {
    display: none;
}

input {
    margin: 10px;
}

header {
    background-color: lightgreen;
    border-bottom: 2px solid purple;
    align-items: center;
    margin-bottom: 10px;
}

h1, h2 {
    margin: 0;
}

h1 {
    font-family: fantasy;
    color: red;
    font-style: italic;
    font-size: 60px;
}

header button {
    width: 100px;
    height: 55px;
    text-align: center;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 5px;
    background-color: rgb(26, 209, 26);
}

.canvas-container {
    margin-right: 30px;
}

.editor-tools {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
}

.editor-tools button {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: navy;
    background-color: #6ea0d1;
    margin: 5px;
}
.editor-tools input {
    height: 40px;
    min-width: 170px;
    
}

button img {
    width: 30px;
}


/* <<<<<< Helpers >>>>>>> */


.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* <<<<<< Flex helpers >>>>>>> */


.flex {
    display: flex;
}

.columns {
    flex-direction: column;
}

.rows {
    flex-direction: row;
}

.wrap {
    flex-wrap: wrap;
}

.flex.justify-center {
    justify-content: center;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

/* <<<<< Media >>>>>>> */

@media (max-width: 740px) {
    .meme-editor {
        flex-direction: column;
    }

    .canvas-container {
        margin-right: 0px;
    }

    h1 {
        font-size: 28px;
    }

    header button {
        width: 55px;
        height: 28px;
        text-align: center;
        border-radius: 15px;
        
    }

}